body {
  font-size: 16px;
  color: grey;
  font-family: 'Oxygen', sans-serif;
}

#project-story {
  font-family: sans-serif, Times;
}
#creator-story {
  font-family: sans-serif, Times;
}

#about-page-content {
  background-image: url("../images/Atty-Collin-img.jpg");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

#project-story-title {
  color:deeppink;
}

#creator-story-title {
  color:deeppink;
}


#logo-img {
  background: url('../images/logo-img-medium.jpg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
}

/* 20230322: Shift the graph a bit left ( add some left margin to its parent element). */
#visit-graph {
  margin-left: -10px;
}

/* 20230307: Shift the graph a bit left ( add some left margin to its parent element). */
#TimeSpan-graph {
  margin-left: -10px;
}


/***************************************** XX Large devices only **************************************/
@media (min-width:1400px) {
  #logo-img {
    background: url('../images/logo-img.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0;
  }

  #project-name {
    font-size: 2em;
  }

  /* navbar links button names */
  .navbar-nav a {
    font-size: 25px;
  }
}

/***************************************** X Large devices only **************************************/
@media (min-width:1200px) and (max-width:1399) {
  #logo-img {
    background: url('../images/logo-img.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0;
  }

  #project-name {
    font-size: 2em;
  }

}

/***************************************** Large devices only **************************************/
@media (min-width:992px) and (max-width:1199) {
  #logo-img {
    background: url('../images/logo-img.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0;
  }
}




/************************************** Medium devices only *********************************/
@media (min-width:768px) and (max-width:991px) {

  /* HEADER */

  #logo-img {
    background: url('../images/logo-img-medium.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  /* Project name */
  /* #project-name {
    font-size: 1.2em;
  } */



}

/**************************** Small devices only ********************************/
@media (min-width: 576px) and (max-width:767px) {

  /* Project name */
  /* #project-name {
    font-size: 1em;
  } */

}


/************************* Extra Small devices only *******************************/
@media (max-width:575px) {

  /* Project name */
  /* #project-name {
    font-size: 1em;
  } */
}