body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
/* #header-nav {
  background-color: gold;
  border-radius: 0;
  border: 0;
} */

/* Project logo & name wrapper */
/* .navbar-brand {
  padding-top: 15px;
} */

#logo-img {
  background: url('../images/logo-img-medium.jpg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
}

#TimeSpan-graph {
  width: 100%;
  height: 600;
}

/* Project name */
/* #project-name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: cornflowerblue;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  line-height: .75;
} */

/* No underline when hovering above the project name */
/* .navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
} */

/* Nav Menu Button */
/* #nav-list {
  margin-top: 15px;
} */

/* #nav-list a {
  color: pink;
  text-align: center;
  font-size: 1.5em;
  padding-left: 25px;
} */

/* #nav-list a:hover {
  background: #E7E7E7;
} */

/* .navbar-header button.navbar-toggle {

  clear: both;
  margin-top: -30px;
} */

/* .navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid deeppink;
} */

/***************************************** XX Large devices only **************************************/
@media (min-width:1400px) {
  #logo-img {
    background: url('../images/logo-img.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0;
  }

  #project-name {
    font-size: 2em;
  }

  /* navbar links button names */
  .navbar-nav a {
    font-size: 25px;
  }
}

/***************************************** X Large devices only **************************************/
@media (min-width:1200px) and (max-width:1399) {
  #logo-img {
    background: url('../images/logo-img.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0;
  }

  #project-name {
    font-size: 2em;
  }

}

/***************************************** Large devices only **************************************/
@media (min-width:992px) and (max-width:1199) {
  #logo-img {
    background: url('../images/logo-img.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0;
  }
}




/************************************** Medium devices only *********************************/
@media (min-width:768px) and (max-width:991px) {

  /* HEADER */

  #logo-img {
    background: url('../images/logo-img-medium.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  /* Project name */
  /* #project-name {
    font-size: 1.2em;
  } */



}

/**************************** Small devices only ********************************/
@media (min-width: 576px) and (max-width:767px) {

  /* Project name */
  /* #project-name {
    font-size: 1em;
  } */

}


/************************* Extra Small devices only *******************************/
@media (max-width:575px) {

  /* Project name */
  /* #project-name {
    font-size: 1em;
  } */
}